<br />
<form asp-controller="Account" asp-action="UserChangePassword" class="form-horizontal" role="form">
    <div class="form-group">
        <label for="old_password" class="col-sm-5 control-label"><nobr>Старый пароль</nobr></label>
        <div class="col-sm-7">
            <input type="password" class="form-control" id="old_password" name="old_password" maxlength="50" required>
        </div>
    </div>
    <div class="form-group">
        <label for="new_password" class="col-sm-5 control-label"><nobr>Новый пароль</nobr></label>
        <div class="col-sm-7">
            <input type="password" class="form-control" id="new_password" name="new_password" maxlength="50" required>
        </div>
    </div>
    <div class="form-group">
        <label for="confirm_password" class="col-sm-5 control-label"><nobr>Повторите пароль</nobr></label>
        <div class="col-sm-7">
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" maxlength="50" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-7">
            <button type="submit" class="btn btn-default">Сменить пароль</button>
        </div>
    </div>
</form>