@using Microsoft.AspNetCore.Html;

<div class="alert alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>

    @*Выбор диапазона выборки*@
    @*<div class="btn-group">
        <a class="btn btn-default btn-lg" id="prev_year"><span class="glyphicon glyphicon-arrow-left"></span></a>
        <span class="btn btn-default btn-lg" id="current_year">@ViewBag.Year</span>
        <a class="btn btn-default btn-lg" id="next_year"><span class="glyphicon glyphicon-arrow-right"></span></a>
    </div>
    <br />
    <br />*@
    <style>
        #balance_chart_@ViewBag.Id {
            height: 300px;
        }
    </style>

    <div id="balance_chart_@ViewBag.Id"></div>

</div>

<script>

    //$('#prev_year').click(function () {
    //    var year = parseInt($('#current_year').text())-1;
    //    $.getJSON('/site/Get_Balance_Data/?year='+year, function(data) {
    //        balance_chart.dataProvider = data;
    //        $('#current_year').text(year);
    //        balance_chart.validateData();
    //        balance_chart.animateAgain();
    //    });
    //});
    //$('#next_year').click(function () {
    //    var year = parseInt($('#current_year').text())+1;
    //    $.getJSON('/site/Get_Balance_Data/?year='+year, function(data) {
    //        balance_chart.dataProvider = data;
    //        $('#current_year').text(year);
    //        balance_chart.validateData();
    //        balance_chart.animateAgain();
    //    });
    //});
    var chart_data_@ViewBag.Id = @(new HtmlString(ViewBag.Data));
    @*var chart_data_@ViewBag.Id = [{
        "period": 2003,
        "budget": 2.5,
        "excess": 2.5
    }, {
        "period": 2004,
        "budget": 2.6,
        "excess": 2.7
    }, {
        "period": 2005,
        "budget": 2.8,
        "excess": 0
    }];*@

    var chart = AmCharts.makeChart("balance_chart_@ViewBag.Id", {
        "type": "serial",
        "theme": "light",
        "fontSize": 10,
        "dataProvider": chart_data_@ViewBag.Id,
        "valueAxes": [{
            "stackType": "regular",
            "axisAlpha": 0.3,
            "gridAlpha": 0
        }],
        "graphs": [{
            "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
            "fillAlphas": 0.8,
            "lineAlpha": 0.3,
            "title": "В бюджете",
            "type": "column",
            "color": "#000000",
            "valueField": "budget"
        }, {
            "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
            "fillAlphas": 0.8,
            "lineAlpha": 0.3,
            "title": "Перерасход",
            "type": "column",
            "color": "#000000",
            "valueField": "excess"
        }],
        "categoryField": "period",
        "categoryAxis": {
            "gridPosition": "start",
            "axisAlpha": 0,
            "gridAlpha": 0,
            "position": "left"
        },
        "export": {
            "enabled": false
        }

    });
</script>


